<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <ExternalDatabase>
    	<ExternalDBType></ExternalDBType>
   	    <ExternalDBServer></ExternalDBServer>
    	<ExternalDBPort>0</ExternalDBPort>
    	<ExternalDBName></ExternalDBName>
    	<ExternalDBUser></ExternalDBUser>
    	<ExternalDBPass></ExternalDBPass>
    </ExternalDatabase>
</Configuration>